<lg-last-update [lastUpdate]="lastUpdate" backColor="slategrey"></lg-last-update>
<div id="lg-environment" class="container-fluid lg-environment">
  <div class="container">
    <div class="row tool-bar">
      <div class="col-xs-12">
        <lg-locked-mdls (onChanged)="onMdlIDChanged($event)"></lg-locked-mdls>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-6" *ngFor="let arr of vers">

          <div class="row version-wrp">
            <div class="col-xs-12">
              <!--{{ver.vr._Revision}}-->
              <div class="h1 version-caption text-center">
                {{arr[0].vr._Revision}} .{{arr[0].vr._Build}} . {{arr[0].vr._Minor}}. {{arr[0].vr._Major}}
              </div>
            </div>
            <div class="col-xs-12 text-center lnk-wrpr">
              <ng-container *ngFor="let ver of arr;let index=index">
                <!--<span [style.border-color]="ver.winServiceIsUp?'greenyellow':'darkred'" [style.color]="ver.winNotificationIsUp?'greenyellow':'darkred'"-->
                <!--(dblclick)="onDoubleCLick(ver)" [lgCopy]="ver.fp" #span id="id{{index}}" class="link">{{ver.dbName}}</span>-->
                <!--<a *ngFor="let ver of arr" (dblclick)="onDoubleCLick(ver)" class="link" href="file:///{{ver.clientFolder}}">{{ver.dbName}}</a>-->
                <lg-environment-unit *ngIf="!ver.isInvisible" [danelVersion]="ver"></lg-environment-unit>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>