<div class="row">
  <div class="col-xs-6" *ngFor="let arr of (danelVersionResponse|async)?.vers">

    <div class="row version-wrp">
      <div class="col-xs-12">
        <!--{{ver.vr._Revision}}-->
        <div class="h1 version-caption text-center">
          {{arr[0].vr._Revision}} .{{arr[0].vr._Build}} . {{arr[0].vr._Minor}}. {{arr[0].vr._Major}}
        </div>
      </div>
      <div class="col-xs-12 text-center lnk-wrpr">
        <span #span id="id{{index}}" (click)="displyCopied('id'+index,ver.fp)" class="link" *ngFor="let ver of arr;let index=index">{{ver.dbName}}</span>

      </div>
    </div>
  </div>
</div>

<div [@flyInOut]="'in'" *ngIf="showCopied" class="copied text-center">
  <span class="copied--text">הועתק</span>

</div>