<div class="container">
    <div class="row tool-bar">
        <div class="col-xs-12">
            <lg-locked-mdls (onChanged)="onMdlIDChanged($event)"></lg-locked-mdls>
        </div>
    </div>
</div>
<lg-last-update [lastUpdate]="lastUpdate" backColor="black"></lg-last-update>
<!--<div class=" row">
    <div class="col-xs-12 text-left">
        <span class="foo">
            dfvg
        </span>
    </div>-->

<!--</div>-->
<kendo-grid class="environment-system.component-grid" [scrollable]="'scrollable'" [pageSize]="pageSize" #grid [data]="gridView"
    [pageable]="pageable" (pageChange)="pageChange($event)" [filter]="state.filter" (dataStateChange)="dataStateChange($event)"
    [filterable]="true">
    <kendo-grid-column class="dbName-column" [style]="{'background-color': '#888','color': '#fff'}" headerClass="version-header"
        field="dbName" title="db-Name">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
            </kendo-grid-string-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="version-header" field="sqlInstance" title="server" [width]="140">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
            </kendo-grid-string-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="version-header" field="version" title="Version" [width]="80">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
            </kendo-grid-string-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column-group headerClass="listener-header" title="Listener" [locked]="false">
        <kendo-grid-column headerClass="listener-header" field="winServiceName" title="Name" [locked]="false">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="listener-header" field="listenerPorts" title="Port" [locked]="false" [width]="100">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="listener-header" field="winListenerStatus" title="Status" [locked]="false" width="70" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button *ngIf="dataItem.winListenerStatus" [disabled]="dataItem.winListenerStatus==-1 || dataItem.winListenerStatusIsCahnging || false"
                    (click)="chnageWinListenerStatus(dataItem)" type="button" [style]="setStatusSpanStyle(dataItem.winListenerStatus)">{{dataItem.statusIssCahnging}}</button>
                <span *ngIf="!dataItem.winListenerStatus" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group headerClass="notification-header" title="Notification" [locked]="false ">
        <kendo-grid-column headerClass="notification-header" field="winNotificationName " title="Name " [locked]="false ">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="notification-header" field="notificationPorts " title="Port" [locked]="false
                    " [width]="100">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="notification-header" field="winNotificationStatus " title="Status" [locked]="false" width="70"
            [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button *ngIf="dataItem.winNotificationStatus" [disabled]="dataItem.winListenerStatus==-1|| dataItem.winNotificationStatusIsCahnging || false"
                    (click)="chnageWinNotificationStatus(dataItem)" type="button" [style]="setStatusSpanStyle(dataItem.winNotificationStatus)"></button>
                <span *ngIf="!dataItem.winNotificationStatus" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid-column-group>
</kendo-grid>