.environment-system.component-grid tr{
    background: antiquewhite;
}

.environment-system.component-grid .cell-header{
    background: black !important;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;   
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}



.k-grid .k-filtercell-wrapper{
    background: rebeccapurple;
    padding: 0;

}