.environment-system.component-grid tr{
    background: antiquewhite;
}

.environment-system.component-grid .cell-header{
    background: black !important;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;   
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.foo{
    // height: 30px;
    border: solid;
}



:host  ::ng-deep  {
.k-i-filter-clear{
    display: none;
}
button[title=Clear]{
    display: none;
}
.k-grid{
  
    border-top: 0;
}
.notification-header{
    background-color: darkslateblue;
     color: #fff; 
     line-height: 1em;
      text-align: center 
}
    .dbName-column{
        background-color: #888;
        color: #fff
    }
.listener-header{
    background-color: darksalmon;
     color: #fff;
     line-height:      1em;
      text-align: center
}

.version-header{
    background-color: #666; 
    color: #fff;
     line-height: 1em; 
     text-align: center
}
     td {
   border: 1px solid black;
}

tr:not(.k-header){
        line-height: 40px;
}

    & .k-grid .k-filtercell-wrapper{
    background: rebeccapurple;
    padding: 0;   
}


}


.tool-bar{
        border: solid;
    padding: 5px;
    border-radius: 5px;
}