.copied{
 position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
 &--text{
font-size: xx-large;
    background-color: brown;
    color: wheat;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

 &--img{
      border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    // height: 80px;
 }
 
}