:host{
  margin-top: 40px;
}
.k-textbox{width: 100% !important;
}
.k-grid{
  // direction: ltr;
 margin-top: 100px;
}
.k-icon{
  font-size: 24px;

}

.info-link{
  direction: ltr;
  span{
background: darkgreen;
    cursor: pointer;
    color: white;
    font-size: larger;
  }
  
}

.k-header{
  text-align: center;
}

 th:last-child{ 
     text-align: center;
     cursor: pointer;
    }

