<form novalidate #myForm="ngForm">
  <kendo-grid #grid [data]="gridView" (edit)="editHandlerModalWindow($event)" (cancel)="cancelHandler($event)" (save)="saveHandlerTemplateDriven($event)"
    (remove)="removeHandler($event)" [pageSize]="10" [selectable]="true" [pageable]="true" [height]=" 700" (pageChange)="pageChange($event)"
    [filter]="state.filter" (dataStateChange)="dataStateChange($event)" [filterable]="true" (add)="addHandler($event)">
    <kendo-grid-column title="ID" field="id" [hidden]="true">
    </kendo-grid-column>
    <kendo-grid-column title="בעיה" field="prb">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-filter let-column="column">
        <textarea [(ngModel)]="dataItem.prb" name="prb" class="k-textbox" required></textarea>

      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="פתרון" field="sln">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <textarea [(ngModel)]="dataItem.sln" name="sln" class="k-textbox" required></textarea>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="מודול" field="mdlName">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.mdlName" name="mdlName" class="k-textbox" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="מס מודול" field="mID" [hidden]="true">
    </kendo-grid-column>
    <kendo-grid-column title="תאריך" field="ts" filter="date" format="{0:d}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{dataItem.ts|date:"dd/MM/yy HH:MM:ss"}}</span>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <section>
        <p class="info-link" *ngFor="let lnk of dataItem.lnks "><span>{{lnk.pth}}</span></p>

      </section>
    </ng-template>

    <kendo-grid-command-column width="100">
      <ng-template class="center " kendoGridHeaderTemplate let-dataItem>
        <span kendoGridAddCommand class="k-icon k-i-plus-circle center "></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-isNew="isNew ">
        <span kendoGridEditCommand class="k-icon k-i-pencil "></span>

        <span kendoGridSaveCommand kendoGridEditCommand class="k-icon k-i-save k-i-floppy "></span>

        <span kendoGridRemoveCommand class="k-icon k-i-delete k-i-trash "></span>

        <span kendoGridCancelCommand class="k-icon k-i-undo "></span>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>


<kendo-dialog title="הוספת נושא" *ngIf="showFaqDlg" (close)="closeFaqDlg( 'cancel') ">
  <lg-faq-item #newItemWindow></lg-faq-item>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeFaqDlg('no') " primary="true">ביטול</button>
    <button kendoButton (click)="closeFaqDlg('yes',newItemWindow) " primary="true">אישור</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="עדכון נושא" *ngIf="showUpdateFaqDlg" (close)="closeUpdateFaqDlg('cancel') ">
  <lg-faq-item [item]="editedItem" #updateItemWindow></lg-faq-item>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeUpdateFaqDlg('no') " primary="true">ביטול</button>
    <button kendoButton (click)="closeUpdateFaqDlg('yes',updateItemWindow) " primary="true">אישור</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="מחיקת רשומה" *ngIf="showRemoveDlg " (close)="closeRemoveDlg( 'cancel') ">
  <input type="number" class="k-textbox text-center" placeholder="סיסמה" [(ngModel)]="deletePassword">
  <p style="margin: 30px; text-align: center; ">האם למחוק רשומה?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeRemoveDlg( 'no') " primary="true ">ביטול</button>
    <button kendoButton (click)="closeRemoveDlg( 'yes') " primary="true ">אישור</button>
  </kendo-dialog-actions>
</kendo-dialog>