.k-textbox{width: 100% !important;
}
.k-grid{
  direction: ltr;

}
.k-icon{
  font-size: 24px;

}

.k-header{
  text-align: center;
}

 th:last-child{ 
     text-align: center;
     cursor: pointer;
    }

