:host{
  margin-top: 40px;
}
.k-textbox{width: 100% !important;
}
.k-grid{
  // direction: ltr;
 margin-top: 100px;
}
.k-icon{
  font-size: 24px;

}

iframe{
  
}

re-captcha.k-grid tr.k-state-selected{
      // background-color: red;
    }


.k-dialog-wrapper .k-window kendo-dialog-titlebar .k-window-content re-captcha.rc-anchor div div div iframe html body .rc-anchor-compact-footer{
  display: none !important;
  float: left;
}

.k-state-selected{
  background: RED;
}

.info-link{
  direction: ltr;
  span{
background: darkgreen;
    cursor: pointer;
    color: white;
    font-size: larger;
  }
  
}

.k-header{
  text-align: center;
}

 th:last-child{ 
     text-align: center;
     cursor: pointer;
    }

