<nav class="navbar navbar-default navbar-fixed-top cbp-af-header">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        תפריט
      </button>

      <!-- <a href="#"> -->
<img class="img-responsive" src="assets/danel.png">
     <!-- </a> -->


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/env" routerLinkActive="active" class="envs menu-font">סביבות</a></li>
        <li><a routerLink="/env-system" routerLinkActive="active" class="menu-font">סביבות-מפורט</a></li>
        <li><a routerLink="/inf" routerLinkActive="active" class="menu-font">FaQ</a></li>
        <li><a routerLink="/lnk" routerLinkActive="active" class="menu-font">קישורים</a></li>
      </ul>
      <div class="nav navbar-nav navbar-left hidden-xs date-time h2">
        <div>
          <span class="navbar-brand">שלום,</span>
          <span class="navbar-brand">{{userName}}</span>
        </div>
        <div>
          {{time|date:'HH:mm:ss'}}
        </div>

      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>