<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        תפריט
      </button>
      <span class="navbar-brand">שלום,</span>
      <span class="navbar-brand left-border user-name">{{userName}}</span>
      <span class="navbar-brand hidden-md hidden-lg hidden-sm"> {{time|date:'HH:mm:ss'}}</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/env" routerLinkActive="active" class="envs">סביבות</a></li>
        <li><a routerLink="/env-system" routerLinkActive="active">סביבות-מפורט</a></li>
        <li><a routerLink="/inf" routerLinkActive="active">FaQ</a></li>
        <li><a routerLink="/lnk" routerLinkActive="active">קישורים</a></li>
      </ul>
      <div class="nav navbar-nav navbar-left hidden-xs date-time h2">
        {{time|date:'HH:mm:ss'}}
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>