a{
  font-size: x-large;
  color: black !important;
}
a:hover, a:focus{
background-color: white;

}

 a:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 2px;
            left: 0;
            background-color: black;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: transform 0.3s ease-in-out 0s;
            transition: transform 0.3s ease-in-out 0s;

          }
    a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }

          .active{
            color: red !important;
          }

  .date-time{
    border-left-style: solid;
  }

  .user-name{
  padding-right: 5px !important;
}

.envs{
  margin-right: 20px;
}

@media only screen and (max-width: 768px)  {
  .envs{
  margin-right: 0;
}
}

.date-time{
  color: #9400d3;
}
