<form [formGroup]="faqForm" novalidate>

  <div class="form-group" [class.has-error]="formErrors.prb">
    <label class="center-block">בעיה:
      <textarea rows="5" class="form-control" formControlName="prb"></textarea>
    </label>
    <div [@flyInOut]="'in'" *ngIf="formErrors.prb" class="error">
      {{ formErrors.prb }}
    </div>
  </div>
  <div class="form-group" [class.has-error]="formErrors.sln">
    <label class="center-block">פתרון:
      <textarea rows="5" class="form-control" formControlName="sln"></textarea>
    </label>
    <div [@flyInOut]="'in'" *ngIf="formErrors.sln" class=" error">
      {{ formErrors.sln }}
    </div>
  </div>
  <div class="form-group">
    <label class="center-block" for="exampleInputFile">קבצים:
    <!--<input #files type="file" id="exampleInputFile" formControlName="lnks"  (change)="fileChangeEvent(files.files)"  multiple>-->
   <div class="file-div">
    <input #files type='file' (change)="fileChangeEvent(files.files)"  multiple> 
    <input type="text" formControlName="lnks"class="file-display-text text-left"/>
 <span class="file-btn" (click)="files.click()">בחירת קובץ</span>

</div>
    </label>

  </div>
  <div class="form-group">
    <label class="center-block" for="mdl">מודול:
   </label>
    <button (click)="onClear()" class="mdl-input-clear" type="button">איפוס</button>
    <div class="mdl-input-wrp">
      <input class="mdl-input" (treeDrop)="onDrop($event)" formControlName="mdl" placeholder="גרור מודול מהעץ" [treeAllowDrop]="allowDrop.bind(this)"
        draggable/>
    </div>


    <tree-root [options]="options" id="mdl" [nodes]="mdls"></tree-root>
    
  </div>
  <input hidden type="number" formControlName="mdlID" />
  <input hidden type="number" formControlName="id" />
</form>