<!--<form  [formGroup]="faqForm" novalidate>
  <div class="form-group" [class.has-error]="formErrors.prb">
    <label class="center-block">בעיה:
      <textarea rows="5" class="form-control" formControlName="prb"></textarea>
    </label>
    <div [@flyInOut]="'in'" *ngIf="formErrors.prb" class="error">
      {{ formErrors.prb }}
    </div>
  </div>
  <div class="form-group" [class.has-error]="formErrors.sln">
    <label class="center-block">פתרון:
      <textarea rows="5" class="form-control" formControlName="sln"></textarea>
    </label>
    <div [@flyInOut]="'in'" *ngIf="formErrors.sln" class=" error">
      {{ formErrors.sln }}
    </div>
  </div>
  <div class="form-group">
    <label class="center-block" for="exampleInputFile">קבצים:
    <input #files type="file" id="exampleInputFile" (change)="fileChangeEvent(files.files)"  multiple>
    </label>

  </div>
 <div class="form-group">
     <label class="center-block" for="mdl">מודול:
       {{mdlName || 'ללא'}}
  <tree-root (onActiveChanged)="onActiveChanged($event)" id="mdl" [nodes]="mdls"></tree-root>
  </label>
  </div>
</form>-->
