<!--<lg-curtain></lg-curtain>-->
<!--<div class="container-fluid"  [hidden]="!showContent">-->
<div class="container-fluid">
  <div class="row">
    <lg-mnu></lg-mnu>
    <!--<router-outlet></router-outlet>-->
    <lg-curtain></lg-curtain>-->
    <div id="lg-roller" class="container-fluid lg-roller">
      <div class="row">
        <div class="container">
          <lg-roller></lg-roller>
        </div>
      </div>
    </div>
    <div id="lg-environment" class="container-fluid lg-environment">
      <div class="row">
        <div class="container">
          <lg-environment></lg-environment>
        </div>
      </div>
    </div>
    <div id="lg-info" class="container-fluid lg-info">
      <div class="row">
        <div class="container">
          <lg-info></lg-info>
        </div>
      </div>
    </div>
    <div id="lg-links" class="container-fluid lg-links">
      <div class="row">
        <div class="container">
          <lg-links></lg-links>
        </div>
      </div>
    </div>

  </div>

</div>
<lg-copy></lg-copy>

`