.lg-environment{
  margin-top:50px;
  background-color: slategrey;
  padding: 50px;
}
.lg-info{
  //margin-top: 20px;
  padding: 30px;
  background-color: darkgrey;
}
.lg-roller{
  margin-top:80px;
}

.lg-links{
  //margin-top: 20px;
  padding: 50px;
  background-color: dimgrey;
}
