<!--<lg-curtain></lg-curtain>-->
<!--<div class="container-fluid"  [hidden]="!showContent">-->
<div class="container-fluid">
  <div *ngIf="!showSysAdminPage" class="row fill-screen">
    <lg-mnu></lg-mnu>
    <div *ngIf="isExplorer" class="col-xs-12 alert-danger text-center explorer-alert">דפדפן אינטרנט אקפלורר.אדג' אינו מומלץ</div>
    <div id="lg-roller" class="container-fluid lg-roller">
      <div class="row">
        <div class="container">
          <lg-roller></lg-roller>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <!--<lg-curtain></lg-curtain>-->
  </div>


 
    
      <lg-sys-admin *ngIf="showSysAdminPage"></lg-sys-admin>
    


 

</div>

`