/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~@progress/kendo-theme-default/scss/all";

html,body{
  overflow-x: hidden;
// direction: rtl;
// text-align: right;
padding-top: 200px;
}
body{
  font-family: 'Arimo', sans-serif;
}

.left-border{
  border-left-style: solid;
}



// .k-grid .k-filtercell-wrapper{
//     background: rebeccapurple;
//     padding: 0;

// }
