/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~@progress/kendo-theme-default/scss/all";

html,body{
  overflow-x: hidden;
// direction: rtl;
// text-align: right;

}
body{
  font-family: 'Arimo', sans-serif;
  padding-top: 200px;
    //   background-image: url('assets/back.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background-color: #528C90 !important;
}

.left-border{
  border-left-style: solid;
}


@media(max-width:768px){
  body{
  
  padding-top: 0;
}
}



// .k-grid .k-filtercell-wrapper{
//     background: rebeccapurple;
//     padding: 0;

// }
